In [2]:
import pandas as pd

In [4]:
df=pd.read_csv("train_and_test2.csv")

In [13]:
df[["Sex","Age","Fare"]]

      Sex   Age      Fare
0       0  22.0    7.2500
1       1  38.0   71.2833
2       1  26.0    7.9250
3       1  35.0   53.1000
4       0  35.0    8.0500
...   ...   ...       ...
1304    0  28.0    8.0500
1305    1  39.0  108.9000
1306    0  38.5    7.2500
1307    0  28.0    8.0500
1308    0  28.0   22.3583

[1309 rows x 3 columns]

In [18]:
gender=1
df.query("Sex==@gender and Fare>30")

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
9,10,14.0,30.0708,1,1,0,0,0,0,0,...,0,0,0,2,0,0,0.0,0,0,1
25,26,38.0,31.3875,1,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
31,32,28.0,146.5208,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1288,1289,48.0,79.2000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,0
1291,1292,30.0,164.8667,1,0,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,0
1293,1294,22.0,59.4000,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,0
1302,1303,37.0,90.0000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,1.0,0,0,0
1305,1306,39.0,108.9000,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,0

In [21]:
df.groupby("Pclass")["Fare"].mean()

Pclass
1    87.508992
2    21.179196
3    13.304513
Name: Fare, dtype: float64

In [22]:
df.groupby("Pclass")["Age"].mean()

Pclass
1    37.812446
2    29.419675
3    25.750353
Name: Age, dtype: float64