In [8]:
s=str(input("enter string:"))
l=len(s)
if s[0]==s[l-1]:
    print("IT is palindrome")
else:
    print("NOT PALINDROME")

enter string: madam

IT is palindrome

In [1]:
nums=[45,6,2,64,7,57]
l=len(nums)
n=0
for i in nums:
    n=n+i


result=n/l
print("average of nums:",result)

average of nums: 30.166666666666668

In [12]:
list1=[1,2,7]
list2=[2,4,5]
list3=list1+list2
list3.sort()

print(list3)

[1, 2, 2, 4, 5, 7]

In [17]:
tup=(3,5,6,2,5,6,8,9,23,5,67,3)
etup=[]
otup=[]
for i in tup:
    if i%2==0:
        etup.append(i)
    else:
        otup.append(i)


print(type(etup))
print(type(otup))
eetup=tuple(etup)
ootup=tuple(otup)
print(type(eetup))
print(type(ootup))

<class 'list'>
<class 'list'>
<class 'tuple'>
<class 'tuple'>

In [29]:
school = {
    "radhika": 90
}

while True:
    print("\nPress:")
    print("A - Add a student")
    print("B - Update marks")
    print("C - Search for a student")
    print("D - Display all students")
    print("E - Exit")

    i = input("Enter choice: ").upper()

    match i:

        case 'A':
            name = input("Enter student name: ")
            marks = input("Enter marks: ")
            school[name] = marks

        case 'B':
            name = input("Enter student name: ")
            if name in school:
                marks = input("Enter new marks: ")
                school[name] = marks
            else:
                print("Student not found!")

        case 'C':
            name = input("Enter student name: ")
            if name in school:
                print(school.get(name))
            else:
                print("Not found!")

        case 'D':
            for key, value in school.items():
                print(key, ":", value)

        case 'E':
            print("Exiting program...")
            break

        case _:
            print("Invalid option! Try again.")

Press:
A - Add a student
B - Update marks
C - Search for a student
D - Display all students
E - Exit

Enter choice:  E

Exiting program...

In [32]:
fruits={
    "fruit":"length"
}
words = ["apple", "banana", "kiwi", "cherry", "mango"]
for fr in words:
    f=len(fr)
    fruits[fr]=f
print(fruits)

{'fruit': 'length', 'apple': 5, 'banana': 6, 'kiwi': 4, 'cherry': 6, 'mango': 5}

In [41]:
string=input("enter a string:")
s=0
for i in string:
    if i == " ":
        s=s+1

print(s)

enter a string: qw

0

In [46]:
 list1 = [1, 2, 3, 4] 
list2 = [5, 6, 2, 8]
s1=set(list1)
s2=set(list2)
if s1.intersection(s2):
    print("common exists")
else:
    print("no common value exists")

common exists

In [54]:
ls=[34,55,7,33,4,2,2,46,33,55]
tup=tuple(ls)
printed=set()
for i in tup:
    if tup.count(i)>1 and i not in printed:
        print(i)
        printed.add(i)

55
33
2

In [57]:
string=input("enter string:")
c=0
for s in string:
    if s in '!@#$%^&*':
        c=c+1
print(c)

enter string: w#$%%

4