In [33]:
import requests
import pandas as pd

In [34]:
URL="https://stephen-king-api.onrender.com/api/books"

res=requests.get(URL)

In [35]:
print(res)

<Response [200]>

In [36]:
data=res.json()

In [38]:
df=pd.json_normalize(data["data"])

In [44]:
data1=df[['id','Title','Year']]

In [45]:
data1

    id          Title  Year
0    1         Carrie  1974
1    2    Salem's Lot  1975
2    3    The Shining  1977
3    4           Rage  1977
4    5      The Stand  1978
..  ..            ...   ...
58  59   The Outsider  2018
59  60      Elevation  2018
60  61  The Institute  2019
61  62          Later  2021
62  63  Billy Summers  2021

[63 rows x 3 columns]